<div class="card">
    <div class="card-body">
        <div class="col col-xl-12 text-center">
            <img src="assets/images/Titulos/JuntosPorEles.png" class="m-l-50">
        </div>
        <div class="col-xl-12 m-b-20">
            <ngb-tabset>
                <ngb-tab title="Home">
                    <ng-template ngbTabContent>
                        <app-voluntario-home></app-voluntario-home>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Quem Somos">
                    <ng-template ngbTabContent>
                        <app-voluntario-sobre></app-voluntario-sobre>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Junte-se a nós">
                    <ng-template ngbTabContent>
                        <app-voluntario-junte-se-nos></app-voluntario-junte-se-nos>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Para cuidar bem deles">
                    <ng-template ngbTabContent>
                        <app-voluntario-informativo></app-voluntario-informativo>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Adote">
                    <ng-template ngbTabContent>
                        <app-voluntario-sobre></app-voluntario-sobre>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Publicações">
                    <ng-template ngbTabContent>
                        <app-voluntario-conteudo></app-voluntario-conteudo>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>